@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 9999;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}


.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 135px;
  height: 45px;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.button-row {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  gap: 30px;
}

.login-button {
  background-color: #fff;
  border: 2px solid white;
  border-radius: 40px;
  padding: 17px 36px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}

.login-button.small {
  padding: 17px 48px;
}

.login-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 440px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 40px;
  border-radius: 30px;
}

.login-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.login-container form input  {
  padding: 13px 20px;
  width: 380px;
  border: 1px solid #000;
  border-radius: 40px;
}

.login-container form input::placeholder {
  color: black;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.login-container p {
  margin: 0;
  text-align: center;
}

.help-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.help-row p {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.help-row p:hover {
  color: #4287f5;
}

.login-title {
  font-size: 24px;
  font-weight: 400;
}

.login-cont-button {
  padding: 18px 55px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.icon-container {
  position: absolute;
  top: 28%;
  left: 60%;
  width: 580px;
}

.icon-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1500px) {
  .icon-container {
    scale: 0.8;
    left: 60%;
    top: 17%;
  }
}

@media (max-width: 1350px) {
  .icon-container {
    scale: 0.6;
    left: 58%;
    top: 15%;
  }
}

@media (max-width: 1200px) {
  .icon-container {
    display: none;
  }

  .button-row {
    gap: 5px;
  }

  .login-button {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (max-width: 800px) {
  .button-row {
    display: none;
  }

  .icon-container {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 1000;
  }

  .burger-menu.open {
    transform: translateX(-150px);
  }

  .burger-menu span {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: block;
  }

  header.scrolled .burger-menu span {
    background-color: white;
  }

  /* Анимация открытия (опционально) */
  .burger-menu span.open:nth-child(1) {
    transform: rotate(45deg) translate(3px, 7px);
  }

  .burger-menu span.open:nth-child(2) {
    opacity: 0;
  }

  .burger-menu span.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -10px);
  }

  .button-column {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 734px;
    padding-top: 10px;
    z-index: 100;
  }

  .button-column button {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  .button-row {
    display: none;
  }

  .icon-container {
    display: none;
  }

  .login-container {
    width: 440px;
  }

  .login-container form input {
    width: 350px;
  }

  .login-title {
    font-size: 25px;
    width: 350px;
  }

  .login-cont-button {
    font-size: 18px;
  }
}

@media (max-width: 600px) {

  .login-container {
    width: 400px;
    gap: 20px;
  }

  .login-container form {
    gap: 10px;
  }

  .login-container form input {
    width: 350px;
  }

  .login-title {
    font-size: 25px;
    width: 350px;
  }

  .login-cont-button {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  
  .button-row {
    display: none;
  }

  .icon-container {
    display: none;
  }

  .login-container {
    width: 350px;
  }

  .login-container form input {
    width: 280px;
  }

  .login-title {
    font-size: 18px;
    width: 300px;
  }

  .login-cont-button {
    font-size: 18px;
  }
}