@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.home-main {
  padding-top: 200px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  font-size: "Roboto Condensed", sans-serif;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.gradient1 {
  position: absolute;
  right: -30%;
  bottom: -15%;
}

.gradient2 {
  position: absolute;
  top: -60%;
}

.gradient3 {
  position: absolute;
  top: 0%;
  left: -35%;
}

.gradient4 {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 700px;
}

.gradient5 {
  position: absolute;
  opacity: 0.5;
  top: 15%;
  left: 50%;
}

.gradient6 {
  position: absolute;
  opacity: 0.5;
  top: 8%;
  left: 35%;
}

.main-container h1 {
  width: 400px;
  font-size: 70px;
  font-weight: 500;
  font-size: "Roboto Condensed", sans-serif;
}

.main-container h1 span {
  color: #33E1F9;
}

.hero {
  position: absolute;
  width: 550px;
  right: 0;
}

.exchange-main-container {
  width: 655px;
  height: 450px;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  display: flex;
  padding: 48px 35px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 180px;
}

.exchange {
  margin-top: 35px;
  margin-bottom: 35px;
}

.exchange-main-container span {
  font-size: 20px;
  font-weight: 400;
  align-self: flex-start;
  margin-bottom: 5px;
}

.first-input, .second-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-input input {
  -webkit-appearance: none; /* Safari, iOS */
  -moz-appearance: none;    /* Firefox */
  appearance: none;    
  border: none;
  width: 380px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: 700;
  border: 2px solid #fff;
  border-right: none;
  background-color: #D9D9D9;
  color: #26A9E0;
}

.first-input input::placeholder {
  font-size: 22px;
  font-weight: 700;
  color: #26A9E0;
}

.first-input select {
  -webkit-appearance: none; /* Safari, iOS */
  -moz-appearance: none;    /* Firefox */
  appearance: none;    
  border: none;
  color: #26A9E0;
  font-size: 20px;
  font-weight: 700;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid #fff;
  border-left: none;
  background-color: #D9D9D9;
}

.second-input input {
  -webkit-appearance: none; /* Safari, iOS */
  -moz-appearance: none;    /* Firefox */
  appearance: none;    
  border: none;
  width: 380px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: 700;
  border: 2px solid #fff;
  border-right: none;
  background-color: #D9D9D9;
  color: #26A9E0;
}

.second-input input::placeholder {
  font-size: 22px;
  font-weight: 700;
  color: #26A9E0;
}

.first-input input:focus {
  outline: none;
}

.second-input input:focus {
  outline: none;
}

.second-input select {
  -webkit-appearance: none; /* Safari, iOS */
  -moz-appearance: none;    /* Firefox */
  appearance: none;    
  border: none;
  color: #26A9E0;
  font-size: 20px;
  font-weight: 700;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid #fff;
  border-left: none;
  background-color: #D9D9D9;
}

.second-input {
  margin-bottom: 40px;
}

.continue-button {
  background-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 69px;
  padding: 14px 38px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.continue-button:hover {
  background-color: white;
  color: black;
}

.hero, .gradient1, .gradient2, .gradient3, .gradient4, .gradient5, .gradient6 {
  pointer-events: none; /* клики будут проходить сквозь */
}


.advantages-container {
  margin-bottom: 180px;
  position: relative;
}

.advantages-container h1 {
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 3%;
  margin: 0;
  margin-bottom: 75px;
}

.a-container-grid {
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 100;
}

.comfy {
  width: 100%;
  border: 3px solid #33E1F9;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  background-color: transparent;
}

.comfy p {
  font-size: 30px;
  font-weight: 500;
  width: 250px;
  text-align: center;
}

.safety {
  width: 100%;
  border: 3px solid #33E1F9;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  background-color: transparent;
}

.safety p {
  font-size: 30px;
  font-weight: 500;
  width: 250px;
  text-align: center;
}

.fast {
  width: 100%;
  border: 3px solid #33E1F9;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  background-color: transparent;
}

.fast p {
  font-size: 30px;
  font-weight: 500;
  width: 250px;
  text-align: center;
}

.a-hero {
  position: absolute;
  top: 430px;
  left: -100px;
}

.r-container-grid {
  display: flex;
  gap: 30px;
}

.ratings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.ratings-container h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 75px;
}

.feedback-container {
  flex: 0 0 calc((100% - 60px) / 3); /* три карточки с учётом gap */
  max-width: 420px;
  border: 3px solid #33E1F9;
  background-color: transparent;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 17px;
}

.comment {
  font-size: 20px;
  font-weight: 400;
  width: 300px;
}

.partners-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  overflow: hidden;
}

.partners-container h1 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
}

.marquee-track {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  height: 60px;
}

/* Влево */
.marquee-left .marquee-track {
  animation: scroll-left 25s linear infinite;
}

/* Вправо */
.marquee-right .marquee-track {
  animation: scroll-right 25s linear infinite;
}

.marquee-right {
  margin-bottom: 150px;
}

.marquee-track img {
  transition: all 0.3s ease-in-out;
}

.marquee-track img:hover {
  scale: 1.1;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}

.hero-gray {
  display: none;
}

@media (max-width: 1350px) {
  .hero {
    right: -10%;
  }
}

@media (max-width: 1200px) {
  .home-main {
    padding-top: 150px;
  }

  .main-container h1 {
    font-size: 50px;
    width: 350px;
    margin-bottom: 100px;
  }

  .exchange-main-container {
    width: 100%;
    margin-bottom: 0 auto;
  }

  .first-input input, .second-input input {
    width: 450px;
    font-size: 16px;
  }

  .first-input select, .second-input select {
    width: 250px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 5px;
  }

  .hero {
    display: none;
  }

  .hero-gray {
    display: unset;
    position: absolute;
    width: 350px;
    right: -5%;
    top: -8%;
    opacity: 0.2;
  }

  .gradient2 {
    top: -25%;
    left: -70%;
    opacity: 1;
  }

  .a-hero {
    display: none;
  }

  .r-container-grid {
    width: 722px;
    gap: 45px;
  }
}

@media (max-width: 1000px) {
  .a-container-grid {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .home-main {
    padding-top: 100px;
  }

  .main-container h1 {
    font-size: 40px;
    font-weight: 500;
    width: 300px;
    margin-bottom: 100px;
  }

  .exchange-main-container {
    width: 100%;
    margin-bottom: 130px;
  }

  .first-input input, .second-input input {
    width: 350px;
    font-size: 14px;
  } 

  .first-input select, .second-input select {
    width: 150px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .advantages-container h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }

  .safety, .comfy, .fast {
    padding: 10px;
  }

  .r-container-grid {
    flex-direction: column;
    align-items: center;
    max-height: 1000px;
    margin-bottom: 30px;
  }

  .gradient4 {
    left: 5%;
    top: 45%;
    width: 500px;
  }

  .gradient5 {
    left: -50%;
    width: 500px;
  }

  .gradient6 {
    width: 500px;
    left: 10%;
    top: 50%;
  }
}

@media (max-width: 600px) {
  .first-input input, .second-input input {
    width: 200px;
    font-size: 14px;
  }

  .first-input select, .second-input select {
    width: 120px;
    font-size: 14px;;
  }

  .r-container-grid {
    width: 100%;
    height: 1000px;
    margin-bottom: 30px;
  }

  .ratings-container {
    width: 100%;
  }

  .comment {
    font-size: 14px;
    width: 100%;
  }

  .gradient4 {
    left: -10%;
    top: 35%;
    width: 500px;
  }
}

@media (max-width: 550px) {
  .r-container-grid {
    width: 100%;
    height: 1000px;
    margin-bottom: 30px;
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .exchange-main-container {
    width: 350px;
    padding-left: 20px;
    justify-content: center;
    align-self: center;
  }

  .first-input input, .second-input input {
    width: 140px;
    font-size: 14px;
  }

  .first-input select, .second-input select {
    width: 140px;
    font-size: 14px;;
  }
}