.exchange-rules {
  display: flex;
  flex-direction: column;   
  border: 1px solid #fff; /* полупрозрачная рамка */
  border-radius: 30px;
  max-width: 880px;
  padding: 30px;
  min-width: 315px;
  background: rgba(255, 255, 255, 0.2); 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.exchange-form-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 880px;
    width: 100%;
}

.exchange-rules {
    width: 100%;
    max-width: 880px;
}

.exchange-text {
    font-size: 18px;
    font-weight: 400;
    max-width: 880px;
}

.exchange-text h1 {
    text-align: unset;
}

.currency-selector-container {
    display: flex;
    border: 1px solid #33E1F9;
    width: 415px;
    border-radius: 100px;
    padding: 10px 30px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.currency-selector-container select {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 400;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/dropdown.svg");
    background-repeat: no-repeat;
    background-position:  right;
    background-size: 16px;
    width: 100%;
}

.currency-selector-container select:focus {
    outline: none;
}

.currency-selector-container select option {
    color: black;
}

.currency {
    font-size: 16px;
    font-weight: 400;
}

.limits {
    font-size: 16px;
    font-weight: 400;
    color: #33E1F9;
    width: 415px;
    text-align: end;
    display: block;
}

.number-to-exchange input[type=number]::-webkit-inner-spin-button,
.number-to-exchange input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-to-exchange {
    display: flex;
    border: 1px solid #33E1F9;
    width: 415px;
    border-radius: 100px;
    padding: 10px 30px;
    align-items: center;
    margin-top: 10px;
    background-color: transparent;
    font-size: 20px;
    height: 72px;
    color: white;
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
    margin-bottom: 25px;
}

.number-to-exchange:focus {
    outline: none;
}

.breaking-line {
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2  );
    margin-top: 65px;
    margin-bottom: 70px;
}

.exchange-button {
    width: 415px;
    height: 70px;
    border-radius: 100px;
    background-color: #33E1F9;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
}

.exchange-button:hover {
    background-color: white;
    color: #26A9E0;
}

.agreement-chackbox {
    border: 1px solid #33E1F9;
    background-color: transparent;
    appearance: none; /* убираем стандартный стиль */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
    margin-right: 12px;
}

.agreement-chackbox:checked {
    background-color: #33E1F9;
    accent-color: white;
}

.agreement-container {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.agreement-container label {
    width: 300px;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .exchange-form-grid {
        width: 420px;
    }

    .number-to-exchange {
        width: 100%;
    }

    .exchange-button {
        width: 100%;
    }

    .currency-selector-container {
        width: 100%;
    }

    .limits {
        width: 100%;
    }
}

@media (max-width: 800px) {

    .exchange-form-grid {
        width: 100%;
    }

    .exchange-rules {
        width: 100%;
    }

    .breaking-line {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .number-to-exchange {
        width: 100%;
        height: 35px;
        font-size: 18px;
    }

    .currency-selector-container {
        width: 100%;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .currency-selector-container select {
        width: 100%;
        font-size: 18px;
    }

    .currency-selector-container img {
        scale: 0.5;
    }

    .limits {
        width: 100%;
    }

    .exchange-text {
        width: 100%;
    }

    .exchange-button {
        width: 100%;
        height: 35px;
        font-size: 18px;
    }

    .exchange-text h1 {
        font-size: 24px;
    }

    .exchange-text span {
        font-size: 16px;
    }

    .agreement-container label {
    font-size: 16px;
    }
}



@media (max-width: 500px) {
    .exchange-rules {
        width: 100%;
    }

    .number-to-exchange {
        width: 100%;
        height: 35px;
        font-size: 18px;
    }

    .currency-selector-container {
        width: 100%;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .currency-selector-container select {
        width: 100%;
        font-size: 18px;
    }

    .currency-selector-container img {
        scale: 0.5;
    }

    .limits {
        width: 260px;
    }

    .exchange-text {
        width: 260px;
    }

    .exchange-button {
        width: 100%;
        height: 35px;
        font-size: 18px;
    }

    .exchange-text h1 {
        font-size: 24px;
    }

    .exchange-text span {
        font-size: 16px;
    }

    .agreement-container label {
    font-size: 16px;
    }
}