@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  font-family: "Bebas Neue", sans-serif;
}

.container {
  width: 1350px;
  padding: 0px 15px;
}